 body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    
}

/* Custom, iPhone Retina */ 
@media (min-width : 320px) {
    #navi, #content, #footer{
        max-width: 300px;
    }                
}

/* Extra Small Devices, Phones */ 
@media (min-width : 480px) {
    #navi, #content, #footer{
        max-width: 460px;
    }        
}

/* Small Devices, Tablets */
@media (min-width : 768px) {
    #navi, #content, #footer{
        max-width: 748px;
    }        
}

#navi {
    background: lightblue;
    padding: 5px;
}

#parent {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#content {
    background-color: lightyellow;
    padding: 5px;
}

#footer {
    background-color: lightcoral;
    padding: 5px;
}

.thumbnail{
  float: left;
  margin: 0.25em;
  height: 102px;
}